div {
  line-height: 210%;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* styles.css */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color:rgb(89, 183, 103);
  color: white;
  border: none;
  cursor: inherit;
}

/* Define the custom cursor */
.custom-cursor {
  cursor: url('https://ani.cursors-4u.net/nature/nat-11/nat1037.png'), auto;
}


/* Desktop styles */
@media (min-width: 768px) {
  div {
    margin-right: 300px;
    margin-left: 300px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  div {
    margin-right: 3px;
    margin-left: 3px;
  }
  .preview-row {
    justify-content: center; /* Horizontally center the boxes */
    flex-direction: column; /* Stack boxes in a column */
    align-items: center; /* Center items vertically within the row */
  }

  .preview-box {
    width: 80%; /* Adjust the width as needed */
    max-width: 300px;
    margin: 10px 0; /* Add some margin between boxes */
  }
}



body {
  background-color: rgb(13, 19, 33);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 40px;
  text-align: center;
}

h1 {
  color: rgb(89, 183, 103);
  font-size: 36px;
}

h2 {
  color: rgb(116, 140, 171);
  font-size: 25px;
}

h3 {
  color: rgb(116, 140, 171);
  font-size: 25px;
}

h4 {
  color: rgb(116, 140, 171);
  font-size: 14px;
  transition: color 0.3s; /* Transition with a 0.3s duration */
}

p, ul {
  color: rgb(247, 247, 242);
  font-size: 20px;
}

/*remove underline for links pressed*/
a{
  text-decoration: none;
  color: inherit;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.preview-row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 960px;
}

.preview-box {
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.preview-box h2 {
  margin-bottom: 10px;
  transition: color 0.3s; /* Transition with a 0.3s duration */
}

.preview-box p {
  margin-bottom: 20px;
  transition: color 0.3s; /* Transition with a 0.3s duration */
}

.preview-box a {
  display: block;
  text-align: left;
}

/* hover problem solved */
.preview-box:hover h2,
.preview-box:hover p,
.preview-box:hover h4 {
  color: rgb(144, 238, 144); /* Change to your desired hover color */
}
